html {
  font-size: 13px;
  font-family: "Manrope", sans-serif;
}

h1,
p {
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  background-color: hsl(210deg, 46%, 95%);
  min-height: 100vh;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
main article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  -webkit-box-shadow: 5px 10px 20px -16px hsl(212deg, 23%, 69%);
          box-shadow: 5px 10px 20px -16px hsl(212deg, 23%, 69%);
}
main article picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main article picture img {
  width: 100%;
}
main article #container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  padding: 40px 0 24px 0;
}
main article #container h1 {
  padding: 0 32px;
  font-size: 16px;
  font-weight: 700;
  color: hsl(217deg, 19%, 35%);
}
main article #container > p {
  padding: 0 32px;
  color: hsl(214deg, 17%, 51%);
  line-height: 20px;
}
main article #container #share-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 32px;
  gap: 16px;
}
main article #container #share-container picture:nth-child(1) {
  width: 48px;
  height: 48px;
}
main article #container #share-container picture:nth-child(1) img {
  border-radius: 50%;
}
main article #container #share-container #user-date {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}
main article #container #share-container #user-date > p:nth-child(1) {
  font-weight: 700;
  color: hsl(217deg, 19%, 35%);
}
main article #container #share-container #user-date > p:nth-child(2) {
  color: hsl(212deg, 23%, 69%);
}
main article #container #share-container #social-icons {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
main article #container #share-container #social-icons p {
  color: hsl(212deg, 23%, 69%);
  letter-spacing: 4px;
}
main article #container #share-container #share-button {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: hsl(210deg, 46%, 95%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
main article #container #share-container #share-button img {
  width: 15px;
  height: 13px;
}

@media (min-width: 576px) {
  main {
    max-width: 500px;
  }
}
@media (min-width: 768px) {
  main {
    max-width: 700px;
  }
}
@media (min-width: 768px) {
  main {
    padding: 0;
  }
  main article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  main article picture img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  main article #container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  main article #container h1 {
    font-size: 20px;
  }
  main article #container #share-container #share-button {
    position: relative;
    cursor: pointer;
  }
  main article #container #share-container #share-button #social-icons {
    opacity: 0%;
    -webkit-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
    cursor: default;
    position: fixed;
    -webkit-transform: translateY(-64px);
            transform: translateY(-64px);
    background-color: hsl(217deg, 19%, 35%);
    padding: 16px 32px;
    z-index: 5;
    border-radius: 8px;
  }
  main article #container #share-container #share-button #social-icons img {
    cursor: pointer;
  }
  main article #container #share-container #share-button #social-icons::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid hsl(217deg, 19%, 35%);
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}/*# sourceMappingURL=styles.css.map */